/* ========================================
   GLOBAL PAGE SETTINGS
======================================== */

html {
  width: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}